#staffers
	- @staffers.each do |staffer|
		.staffer
			= image_tag avatar_url(staffer)
			%h= link_to staffer.first, staffer
			%h= link_to staffer.last, staffer
			%p= staffer.agency

/ = link_to "New Inovator", new_staffer_path
= link_to image_tag('INOVA.jpg', width: "100"), new_staffer_path		